{
  "extends": ["eslint:recommended", "plugin:react/recommended", "standard"],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": ["eslint-plugin-react"],
  "rules": {
    "no-extra-parens": 0,
    "react/jsx-uses-vars": 1
  }
}
